<?set opt:get_component_values?>
<?set opt:dont_recurse_refs?>
<?getsession?>
<?login?>
<?header?>
<?include header/default.html?>

<?exec preferences:fetch '${cgi:uname}'?>
<?exec catalog:get 'parent=&gt;"${giza:parent}", ORDER=&gt;"${prefs:cat_sort}"'?>

<body>
	<?include table_start.html?>
	<?include leftmenu.html?>
	<td width="500" rowspan="2" valign="top">

	<div class="header"><?evar parent:name?></div><br/>


	<div class="boxheader"><b><?exec catalog:treeview?></b></div>

	<div class="description">
		<?evar parent:description?>
	</div>
	<br/>
	

	<div class="catalog">
		<table border="0">
		<tr>
			<?exec catalog:directories?>
		</tr>
		</table>
		<br/>
		<?exec catalog:guides?>
		<?exec catalog:images?>
		<?exec catalog:ftps?>
		<?exec catalog:mp3s?>
		<?exec catalog:oggs?>
		<?exec catalog:references?>
		<?exec catalog:links?>
	</div>
	<br/>
	
	<?ifInclude {'${prefs:have_prefs}' eq 'no'} 'not_set_prefs.html'?>

  </td>
  <?include table_end.html?>
</body>

<?include footer/footer.html ?>
