<!-- link object -->
<table border=0 bgcolor="#FFFFFF"><tr><td>
<a href="<?evar obj:data?>"><img src="http://images.slashdot.org/title.gif" border="0" alt="tipworld"/></a><br/>
</td></tr></table>
<img src="/gfx/view_link16.gif" alt="" border="0"/>
<a href="<?evar obj:data ?>"><?evar obj:name ?></a>
	<b><?evar obj:showrate ?></b>/<?evar obj:total_votes?>&nbsp;
	<a href="http://dorg.intra/giza2/browse.pl?page=rate.html&amp;parent=<?evar giza:parent?>&amp;oid=<?evar obj:id?>"><img src="/gfx/rate16.gif" alt="[r]" border="0"/></a><br/>
<?evar obj:description ?><br/>
<br/>
