<td width=150>
    <a 
		href="<?evar cgi:script_name?>?parent=<?evar obj:id?>"
		onMouseOver="document.images['MouseOver<?evar obj:id?>'].src='/gfx/stylish/diro96.png'"
		onMouseOut=" document.images['MouseOver<?evar obj:id?>'].src='/gfx/stylish/di96.png'"
	><img src="/gfx/stylish/di96.png" alt="" border="0" name="MouseOver<?evar obj:id?>"/></a>
</br>
	<a href="<?evar cgi:script_name?>?page=admin/object.html&amp;parent=<?evar obj:parent?>&amp;oid=<?evar obj:id?>"><?evar obj:name?>/</a>
	<a href="<?evar cgi:script_name?>?page=admin/object.html&amp;action=new&amp;parent=<?evar obj:id?>"><img src="/gfx/stylish/increment.png" border="0" width="13" height="18" alt="[n]"/></a> 
 

</td>
