<!-- link object -->
<img src="http://www.tipworld.co.uk/gfx/box_intro_a.gif" border="0" alt="tipworld"/>
<a href="<?evar obj:data ?>"><?evar obj:name ?></a>
	<b><?evar obj:showrate ?></b>/<?evar obj:total_votes?>

<br/>
<?evar obj:description ?><br/>
<a href="<?evar cgi:script_name?>?page=rate.html&amp;parent=<?evar giza:parent?>&amp;oid=<?evar obj:id?>"><img src="/gfx/rate16.gif" alt="[r]" border="0"/></a>
<a href="<?evar cgi:script_name?>?page=admin/object.html&amp;oid=<?evar obj:id?>&amp;parent=<?evar obj:parent?>"><img src="/gfx/edit.gif" alt="[e]" border="0"/></a>
<a href="<?evar cgi:script_name?>?page=admin/object.html&amp;action=new&amp;parent=<?evar giza:parent?>"><img src="/gfx/new.gif" alt="[n]" border="0"></a>
<br/>&nbsp;<br/>
