<?getsession?>
<?login?>
<?header?>
  <?include header/header.html?>
  <?include header/title.html?>
  <?include header/meta.html?>
  <?include header/style.html?>
  <script name="JavaScript1.2">
  <!--//
	function setParentGroup(group) {
		if(window.opener && !window.opener.closed) {
			window.opener.document.objectedit.groupo.value = group;
			window.close();
		}
	}
  //-->
  </script>
  <?include header/end.html?>


<body>

<div class="header">Use giza group</div>

<small><b> [
	<a href="#a">A</a> -
	<a href="#b">B</a> -
	<a href="#c">C</a> -
	<a href="#d">D</a> -
	<a href="#e">E</a> -
	<a href="#f">F</a> -
	<a href="#g">G</a> -
	<a href="#h">H</a> -
	<a href="#i">I</a> -
	<a href="#j">J</a> -
	<a href="#k">K</a> -
	<a href="#l">L</a> -
	<a href="#m">M</a> -
	<a href="#n">N</a> -
	<a href="#o">O</a> -
	<a href="#p">P</a> -
	<a href="#q">Q</a> -
	<a href="#r">R</a> -
	<a href="#s">S</a> -
	<a href="#t">T</a> -
	<a href="#u">U</a> -
	<a href="#v">V</a> -
	<a href="#w">W</a> -
	<a href="#x">X</a> -
	<a href="#y">Y</a> -
	<a href="#z">Z</a> -
] </b></small>

<br/>&nbsp;<br/>

<table border=0>
	<tr>
		<th width=400><a name="#a">A</a></th>
	</tr><tr>
		<?exec group:list A?>
	</tr>
	<tr>
		<th width=400><a name="#b">B</a></th>
	</tr><tr>
		<?exec group:list B?>
	</tr>
	<tr>
		<th width=400><a name="#c">C</a></th>
	</tr><tr>
		<?exec group:list C?>
	</tr>
	<tr>
		<th width=400><a name="#d">D</a></th>
	</tr><tr>
		<?exec group:list D?>
	</tr>
	<tr>
		<th width=400><a name="#e">E</a></th>
	</tr><tr>
		<?exec group:list E?>
	</tr>
	<tr>
		<th width=400><a name="#f">F</a></th>
	</tr><tr>
		<?exec group:list F?>
	</tr>
	<tr>
		<th width=400><a name="#g">G</a></th>
	</tr><tr>
		<?exec group:list G?>
	</tr>
	<tr>
		<th width=400><a name="#h">H</a></th>
	</tr><tr>
		<?exec group:list H?>
	</tr>
	<tr>
		<th width=400><a name="#i">I</a></th>
	</tr><tr>
		<?exec group:list I?>
	</tr>
	<tr>
		<th width=400><a name="#j">J</a></th>
	</tr><tr>
		<?exec group:list J?>
	</tr>
	<tr>
		<th width=400><a name="#k">K</a></th>
	</tr><tr>
		<?exec group:list K?>
	</tr>
	<tr>
		<th width=400><a name="#l">L</a></th>
	</tr><tr>
		<?exec group:list L?>
	</tr>
	<tr>
		<th width=400><a name="#m">M</a></th>
	</tr><tr>
		<?exec group:list M?>
	</tr>
	<tr>
		<th width=400><a name="#n">N</a></th>
	</tr><tr>
		<?exec group:list N?>
	</tr>
	<tr>
		<th width=400><a name="#o">O</a></th>
	</tr><tr>
		<?exec group:list O?>
	</tr>
	<tr>
		<th width=400><a name="#p">P</a></th>
	</tr><tr>
		<?exec group:list P?>
	</tr>
	<tr>
		<th width=400><a name="#q">Q</a></th>
	</tr><tr>
		<?exec group:list Q?>
	</tr>

	<tr>
		<th width=400><a name="#r">R</a></th>
	</tr><tr>
		<?exec group:list R?>
	</tr>
	<tr>
		<th width=400><a name="#s">S</a></th>
	</tr><tr>
		<?exec group:list S?>
	</tr>
	<tr>
		<th width=400><a name="#t">T</a></th>
	</tr><tr>
		<?exec group:list T?>
	</tr>
	<tr>
		<th width=400><a name="#u">U</a></th>
	</tr><tr>
		<?exec group:list U?>
	</tr>
	<tr>
		<th width=400><a name="#v">V</a></th>
	</tr><tr>
		<?exec group:list V?>
	</tr>
	<tr>
		<th width=400><a name="#w">W</a></th>
	</tr><tr>
		<?exec group:list W?>
	</tr>
	<tr>
		<th width=400><a name="#x">X</a></th>
	</tr><tr>
		<?exec group:list X?>
	</tr>
	<tr>
		<th width=400><a name="#y">Y</a></th>
	</tr><tr>
		<?exec group:list Y?>
	</tr>
	<tr>
		<th width=400><a name="#z">Z</a></th>
	</tr><tr>
		<?exec group:list Z?>
	</tr>
</table>

</body>	

<?include footer/footer.html?>
